/* 
    СТИЛИ HEADER
    АВТОР - СЕМЕНОВ ДАНИИЛ
*/

.header {
    border-bottom: 1.5px solid var(--color-second);
}

.header_nav {
    justify-content: space-between;
}

.logo {
    font-size: 50px;
    color: var(--color-main);
    font-family: var(--font-family-bn-r);
}

header .logo {
    font-size: 30px;
}

.nav_centr {
    color: var(--color-second);
    font-size: 20px;
}
